header{
    background-color: #055565;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 20px #0000005e;
}

header a{
    color: #4aa9bb;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bolder;
}