
body{
    margin:0;
    background-color: #056679;
    font-family: sans-serif;

}

.todo-container {
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

h1{
    margin: 0;
    margin-bottom: 15px;
    color: #4aa9bb;
}

.input-section {
    background-color: #055565;
    padding: 18px;
    border-radius: 6px;
    box-shadow: -9px 23px 30px #00000059;
}

.input-section input {
    border-radius: 6px;
    border: 1px solid #1a7e91;
    /* width: 100%; */
    padding: 10px;
    box-sizing: border-box;
    background-color: #00000045;
    outline: none;
    color: #08869e;
}

input::placeholder{
    color: #08869e;
}

ul{
    padding: 10px;
    text-align: left;
    padding-top: 25px;
}

ul li{
    display: flex;
    list-style: none;
    background-color: #056679;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #4aa9bb;
    box-shadow: 0 4px 6px #00000066;
}

ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}

.addButton {
    background-color: #127a8f;
    color: white;
    border: none;
    padding: 10px 19px;
    cursor: pointer;
    border-radius: 8px;
    margin: 10px;
}
